@import 'base.scss';
@import 'responsive.scss';
@import 'variables.scss';
@import 'spacer.scss';
@import 'login.scss';
@import 'product.scss';

.d-flex {
  display: flex;
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.text-bold {
  font-weight: bold;
}
.full-width {
  width: 100%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.color-grey {
  color: $default;
}
.bg-color-secondary {
  background-color: $secondary;
}
.bg-grey {
  background-color: $grey;
}
.text-white {
  color: white;
}
.text-right {
  text-align: right;
}
.full-height {
  height: 100%;
}
.custom-btn {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  color: white;
  background-color: $secondary;
  border-color: $secondary;
}
.custom-btn:focus {
  outline: none;
}
.color-black {
  color: black;
}
.error-message {
  color: $danger;
  font-size: 12px;
}
.border-bottom {
  border-bottom: 1px solid $grey;
}
