.login-content-container {
  background-image: linear-gradient(to right, #3488bd, #5bbb92);
}
.login-icon {
  color: white;
  font-size: 50px;
}
.input-field {
  width: 400px;
  height: 40px;
  border-radius: 20px;
}
.ant-result-extra {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.back-btn {
  width: 180px;
}
