@import './variables.scss';

.product-btn {
  width: 20% !important;
  border-radius: 0px !important;
}
.height-30 {
  height: 30px !important;
}
.category-image {
  width: 100px;
  height: 100px;
}
.preview-image {
  width: 100%;
  height: auto;
}
.ant-upload-list-item-error {
  border: none !important;
}
